/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* comportamento de scroll */
html {
  scroll-behavior: smooth;
}

/* body */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #000;
}

.title-font {
  font-family: 'Bebas Neue', sans-serif;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

/* listas */
ul {
  list-style: none;
}